
<div id="IntroRow" class="container">


<div id="introBox">
  <div class="textDiv">
  <h3>

  Now is the time for Mercy</h3><p>

  </p><p>

  Have you felt burdened by the amount of suffering in the world?</p><p>
  Could you commit to praying - really praying - for just one moment every day?</p><p>
</p><p>
  Then you can help make sure that anyone who needs prayer will have it...</p><p>
  ...right when they need it most.</p><p>
</p><p>
  You can become an Agent of God’s Mercy,</p><p>
  helping create total intercessory coverage of the world with prayers for Mercy.</p><p>
</p><p>
  You can be come a Total Mercy Agent.</p>
  </div>
</div>

</div>
<div id="whoRow" class="container">
<div id="whoBox">
  <div class="textDiv">
<h3>  Who are the Total Mercy Agents?</h3><p>
</p><p>
We are a group of Christians who understand that ours is a time of unprecedented evil and suffering, and that as Christians we truly have the power to affect real, positive change.  How is that change possible?  Through the power of Christ ultimately, but He has chosen to use us to help each other on Earth - through the ministry of intercession.  In order to make it accessible and realistic for as many as possible, the Total Mercy Agents commit to pray - really pray - for one moment every day.</p><p>
</p><p>
Who do the Total Mercy Agents intercede for?</p><p>
</p><p>
Anyone and everyone:</p>
  <ul>


    <li>At the Hour of Death (for the mercy of salvation)</li>
    <li>Living in Sin (for the mercy of conversion)</li>
    <li>Vulnerable (for the mercy of protection)</li>
    <li>Suffering (for the mercy of release)</li>
    <li>Wounded (for the mercy of healing)</li>
    <li>Lukewarm (for the mercy of conviction)</li>
    <li>Seeking Holiness (for the mercy of sanctification)</li>
    <li>Serving as a Total Mercy Agent (for the mercy of perseverance)</li>

    </ul>
</div>
</div>
</div>
<div id="whatRow" class="container">
<div id="whatBox">
  <div class="textDiv">
  <h3>What is the Vision?</h3><p>
</p><h5>

A True Hedge of Protection</h5><p>
What would it be like to know that there is always a group of committed Christians praying for those who need it most anywhere in the world?  It would be as though these Christians were missionaries traveling the world and building a wall of grace around each person right when they need it.  Through the mystery of the Body of Christ, God has chosen to work through us to bring mercy to each other.  True, there are many ministries of intercession around the world - they intercession may not be as focused as our, and they are welcome to join us in our unique intercession for those in urgent need of mercy.  If you represent a group that intercedes regularly, you are most welcome to join our effort.</p><p>
</p><h5>
A Realistic Cause</h5><p>
Although we are sure it would be possible to find people all over the world willing to commit to an hour of intercession every day, we feel there would be much greater spiritual fruit if more people were involved in this effort.  For this reason, we only ask a daily commitment of just one moment of intercession - that's one moment of true prayer.  This is much more realistic for most people to commit to, yet also easier for people to remember than, perhaps, a once-a-week commitment.</p><h5>
A Global Effort</h5><p>
As word of our effort spreads, our desire is to encourage people around the world by letting them know exactly which people are praying at the same time, and thus to make sure every hour of the day is covered.  Because of the complicated nature of the various time zones around the world, we have picked one hour of the day to “anchor” our prayer efforts.  We also use Coordinated Universal Time or UTC as the standard way to describe time zones, since these do not change with Daylight or Summer Time.  Click here for more information on UTC.</p>
</div>
</div>
</div>
<div id="whenRow" class="container">
<div id="whenBox">
  <div class="textDiv">
  <h3>The Hour of Total Mercy</h3><p>
</p><h5>


  The Fullness of Time</h5><p>
  In the effort to organize prayer around the clock, across many time zones, it is helpful to pick one hour to “follow” around the world.  If there is one pivotal event in Scripture that has a specific time of the day, it is the hour when our Savior completed his sacrifice on our behalf.  Some traditions have called this The Hour of Divine Mercy.  It was the hour of the day that our Lord chose to finish his task.  It is the time of day that was made holy by his sacrifice.  It is the hour of the day that helps the Total Mercy Agents organize themselves to bring people spiritually to the cross.</p><h5>
  The Hour of Mercy in Scripture</h5><p>
  John 11:9 - “Are there not twelve hours of daylight?” The culture of Jesus divided the daytime into twelve hours.</p><p>
</p><p>
  Luke 23:44 - “It was now about the sixth hour, and darkness came over the whole land until the ninth hour.”  The sixth hour would have been the middle of the twelve hours of daylight, or Noon.  The ninth hour would have been 3:00 p.m.</p><p>
</p><p>
  Luke 23:46 - [In the ninth hour,] “Jesus ... breathed his last.”</p><p>
</p><p>
  Galatians 4:4-5 - “But when the fullness of time came, God sent forth His Son ... so that he might redeem ...”  The fullness of time is directly connected to Jesus’ life, and specifically to his redeeming act on the cross.</p><h5>
  Agents and Missionaries</h5><p>
  By interceding for the world, Total Mercy Agents act as Missionaries, spiritually kneeling at the foot of the cross in the Hour that Jesus died, and spiritually visiting all those who are most in need of the Lord’s Mercy around the world and praying on their behalf. Ideally, there would be a group of people at 3:00pm in each time zone, spiritually at the foot of the cross, praying for Mercy for the world.  Perhaps someday that will be a reality through the Total Mercy Agents.</p><p>

</div>
</div>
</div>
<div id="whyRow" class="container">
<div id="whyBox">
  <div class="textDiv">
  <h3>Why we Pray</h3><p>
</p><h5>

  Because someone needs our prayers right now</h5><p>
  We see the examples of need all over the news, and even around us in our daily life.  Here are just some of the potentially overwhelming needs that are happening... Right now, perhaps someone:</p>
  <ul>


    <li>is vulnerable to being kidnapped or sold for human trafficking</li>
    <li>is suffering from terrible child molestation from someone they trusted</li>
    <li>in government is choosing between corruption or helping the poor</li>
    <li>is deeply wounded from their past choice to abort their child</li>
    <li>is deciding to be more comfortable instead of choosing holiness</li>
    <li>is tempted to take their sexual sin one step further</li>
    <li>is ready to give up on their belief in God, however small it may have been</li>
    <li>is looking for the food that will keep their children alive</li>
    <li>is deciding to change their life, but they have no help to escape their sinful past</li>
    <li>is tired of fighting the Good Fight, and is tempted to give up</li>
    <li>is at the Hour of Death, facing their final choice to trust God’s Mercy... or not.</li>
  </ul>
    <p>
    </p><p>
  Reading through these can be overwhelming and perhaps be a temptation to despair... but as Christians we know that there is HOPE.  Our God is bigger than all of this and there is truly something we CAN DO to help.  Intercessory prayer works - and the Lord is calling each of us to step up for those in need.</p><p>
</p><p>
  These are only SOME of the reasons why the Total Mercy Agents do what they do.  If only ONE of these were truly happening at any given moment, it would still be worth it to have an army of prayer warriors standing in that person’s defense and pleading for Mercy on their behalf.  Will you consider joining us?</p><p>
</div>
</div>
</div>
<div id="howRow" class="container">
<div id="howBox">
  <div class="textDiv">
  <h3>How We Pray</h3><p>
</p><p>
</p><h5>

  I looked for one to stand in the gap on behalf of the land... (cf. Ezekiel 22:30)</h5><p>
</p><p>
  Every Total Mercy Agent is praying for whoever needs it most anywhere in the world.</p><h5>
  I have heard their groaning and have come... (cf. Acts 7:34)</h5><p>
</p><p>
  What do we as Christians have to “groan” about, since we have been redeemed?  The answer is the ongoing suffering throughout the world.  What is more comforting to those who are suffering, than to know that Jesus understands their suffering because he suffered more than anyone in his Passion and Death (You’ll find an account of the Passion towards the end of each of the Gospels).  As Total Mercy Agents, we bring people spiritually to the cross to experience the Mercy of God for them individually, and we do this by steeping ourselves in what Our Lord went through in His Passion for just one moment everyday.</p><p>
</p><p>
  With a good number of Total Mercy Agents dedicated interceding and bringing God's Mercy to those in need, we are spiritually answering the Lord’s call to go to every place. (cf. Luke 10:1)  Even more importantly, Anyone who needs the Lord’s Mercy at any particular moment will find themselves spiritually surrounded by these Christians - each fully present to Christ and calling to mind his Sacrifice on behalf of the person in need.</p><p>
</p><p>
  It should be emphasized that the Total Mercy Agents are not limited to interceding for only one moment in this way.  If one has the time and is truly meeting the Lord in prayer, it is most encouraged to stay engaged in intercession. </p>
</div>
</div>
</div>
